
.menu-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px; /* เพิ่มขนาดข้อความ */
}

.menu-item i {
    margin-right: 10px;
}

.menu-item:hover {
    background-color: #e9ecef;
}

.menu-item span {
    display: none;
}

.container-box.open .menu-item span {
    display: inline-block;
    /* แสดงข้อความเมื่อเปิด */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    padding: 10px;
    color: white;
    position: fixed;
    /* ทำให้ navbar อยู่คงที่ */
    top: 0;
    /* ติดอยู่ที่ด้านบนสุด */
    left: 0;
    /* แนบขอบซ้าย */
    width: 100%;
    /* ให้ navbar กว้างเต็มหน้าจอ */
    z-index: 1000;
    /* ทำให้ navbar อยู่เหนือเนื้อหาอื่นๆ */
}

.navbar .menu-item i {
    color: black;
    /* เปลี่ยนสีไอคอนเป็นสีดำ */
}
